# OSX
.DS_Store

# Misc
.env
.vercel
.serverless

# Gatsby
.cache
public

# Expo
.expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build
google-services.json
__generated__

# Node
node_modules
npm-debug.log
yarn-error.log

# Yarn 2
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# SST build output
.build
.sst

# EAS
# https://github.com/expo/fyi/blob/main/eas-build-archive.md#what-files-are-included-in-the-archive
packages/*
!packages/core
!packages/client
packages/client/ios/build
packages/client/ios/Pods
packages/client/ios/.xcode.env.local
/assets
google-services.json
/sst.json
/stacks
/scriptable-widget.js
README.md
CHANGELOG.md
