# OSX
.DS_Store

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Node
node_modules/
npm-debug.log
yarn-error.log

# Yarn 2
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Ignoring using CNG
packages/client/android/

# Environment variables
.env

# Firebase (Android) Google services
google-services.json

# Gatsby
.cache/
public/

# SST build output
.sst/

# Local builds
*.apk
*.aab
*.ipa

# EAS
# https://github.com/expo/fyi/blob/main/eas-build-archive.md#what-files-are-included-in-the-archive
.github/
.husky/
.vscode/
/assets/
packages/*
!packages/api
packages/api/*
!packages/api/package.json
!packages/client
packages/client/ios/build/
packages/client/ios/Pods/
packages/client/ios/.xcode.env.local
!packages/core
packages/core/*
!packages/core/index.js
!packages/core/package.json
!packages/website
packages/website/*
!packages/website/package.json
/stacks/
.editorconfig
.eslintrc.js
.gitattributes
.gitignore
.prettierrc.json
/commitlint.config.js
/lerna.json
/scriptable-widget.js
/sst.config.js
README.md
CHANGELOG.md

# https://github.com/expo/eas-cli/issues/2875
.git
