# OSX
.DS_Store

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Node
node_modules/
npm-debug.log
yarn-error.log

# Yarn 2
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Ignoring using CNG
packages/client/android/

# Environment variables
.env

# Firebase (Android) Google services
google-services.json

# Gatsby
.cache/
public/

# SST build output
.sst/

# Local builds
*.apk
*.aab
*.ipa
