$break-small: 719px;

/*
 * Purpose:
 * Assign height: "100%" to
 * html, body, #___gatsby &
 * div with role="group"
*/

html, body, #___gatsby, #gatsby-focus-wrapper, main {
  height: 100%;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400 !important;
  color: #797283;

  h1, h2, h3, h4, h5, h6 {
    // font-family: PT Serif;
    line-height: 43px;
    color: #1E1C21;
  }

  .container {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .features {
    .feature__item {

      .row {
        display: flex;
        flex-wrap: wrap;

        .col-6 {
          align-self: center;
        }
      }

      .feature__content {
        justify-content: center;
        display: flex;
        flex-direction: column;
        // margin-right: 30px;

        h2 {
          font-size: 36px;
          line-height: 54px;
          // font-weight: bold;
          margin-top: 30px;
          margin-bottom: 15px;
          color: #1E1C21;
          font-weight: normal;
        }

        p {
          font-size: 18px;
          line-height: 27px;
        }

        .social {
          margin: 30px 0;

          .icon {
            // height: 30px;
            transition: 0.1s ease-in;
            color: #797283;
            margin-right: 1em;
          }

          .icon:hover {
            // transform: scale(1.5);
            color: #1E1C21;
          }

          .icon:last-child {
            margin-right: 0
          }

        }

        p.donation {
          font-size: 12px;
          line-height: 18px;

          a {
            color: #797283;
            text-decoration: underline;
            transition: 0.1s ease-in;
          }

          a:hover {
            // transform: scale(1.5);
            color: #1E1C21;
          }

        }
      }

      .feature__action {
        display: flex;
        margin-top: 60px;

        .gatsby-image-wrapper {
          flex: 1;
          cursor: pointer;
        }

        .gatsby-image-wrapper:first-child {
          margin-right: 30px;
        }
      }
    }

    @media screen and (max-width: $break-small) {
      .col-6.first {
        order: 1;
        display: none;
      }

      .col-6 {
        order: 2;
      }

      .feature__icon .gatsby-image-wrapper {
        margin: 0 auto;
      }

      /* .feature__content {
        margin: 0 !important;
      } */

      .feature__action {
        justify-content: center;
      }
    }
  }

  @media screen and (max-width: $break-small) {
    .container {
      text-align: center
    }
  }
}
